.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    padding: 0;
    color: rgb(100, 100, 100);
    background-size: 200% auto;
    transition: all .4s ease-in-out;
    cursor: pointer;

    &-first {

        &:hover {
            background-position: right center;
            color: rgba(70, 70, 255, 0.8);
            font-size: 15px;
        }
    }
    &-second {

        &:hover {
            background-position: right center;
            color: rgba(80, 255, 255, 0.8);
            font-size: 15px;
        }
    }

    &-modal {
        height: 25px;
    }
}