.modal {
    border: 3px solid rgba(0, 0, 0, 0.584);
    background: linear-gradient(to left, rgb(253, 253, 184), rgb(255, 119, 119));
    padding: 30px;
    width: 500px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.background {
    background-color: rgba(120, 120, 120, 0.44);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
}

.text {
    font-size: 17px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 30px;
}

.close {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    background-color: rgba(180, 0, 0, 0.6);
}

