body {
    margin: 0;
    background-image: url(/public/main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 150px;
}